{% extends "./base.html" %}
 {% block page_title %} Home {% endblock page_title%}
{% block content %}
<div class="todo-app">
  <div class="user-area">
    {% if user.id%}
    <div class="user-img">
      <img src="media/{{request.user.profile_picture}}" />
      <div class="user-username">{{ user.username }}</div>
      <form
        method="POST"
        enctype="multipart/form-data"
        action="{% url 'users:set-profile' %}"
      >
        {% csrf_token %} {{ picture_form.as_p }}
      </form>
    </div>
    {% else %}
    <div class="user"><a class="user-link" href="/user">SignUp/Login</a></div>
    {% endif %}
  </div>
  <div class="input-section" id="myForm">
    {% csrf_token %} {{ form.title }}
    <button id="addBtn" type="button" class="add">Add</button>
  </div>
  <div class="todos">
    <ul class="todo-list">
      {% for todo in todos %}
      <li class="li">
        <input
          class="form-check-input"
          type="checkbox"
          value="{{ todo.id }}"
          id = "{{ todo.id }}"
          {% if todo.is_done %} checked {% endif %}
        />
        <label class="form-check-label" for="{{todo.id}}"></label>
        <span class="todo-text">{{ todo.title }}</span>
        <span class="todo-text">{{ todo.created_at }}</span>
        <span class="span-button"
          ><i class="fa-solid fa-trash" data-value="{{ todo.id }}"></i
        ></span>
        <span class="span-button"><i class="fa-solid fa-pen"></i></span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% load static %}
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
<script src="{% static 'list/script.js' %}"></script>
<script>
      {% verbatim %}      
      {% endverbatim %}
</script>
{% endblock content %}
