{% extends "./base.html" %}
{% block page_title %}
Home
{% endblock page_title %}
{% block content %}
<div class="todo-app">
    <div class="user-area">
    </div>
    <form class="input-section" method="post">
      {% csrf_token %}
      {{form.title}}
      <button id="addBtn" type="submit" class="add">Add</button>
    </form>
    <div class="todos">
      <ul class="todo-list">
        {% for todo in todos %}
          <li class="li">
            <input class="form-check-input" type="checkbox" value={{todo.id}} {% if todo.is_done %}checked{% endif %}>
            <label class="form-check-label" for="inlineCheckbox1"></label>
            <span class="todo-text">{{todo.title}}</span>
            <span class="todo-text">{{todo.created_at}}</span>
            <span class="span-button"><i class="fa-solid fa-trash" data-value={{todo.id}}></i></span>
            <span class="span-button"><i class="fa-solid fa-pen"></i></span>
          </li>
        {% endfor %}
      </ul>            
    </div>
  </div>
  {% load static %}
  <script src={% static "list/script.js" %}>
    
  </script>
{% endblock content %}